name: CI Nest + Semgrep

on:
  push:
    branches: ["amandao"]
  pull_request:
    branches: ["amandao"]

permissions:
  actions: read
  security-events: write
  contents: read

jobs:
  build_test_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Run Tests
        run: npm run test

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Semgrep
        run: pip install semgrep

      - name: Run Semgrep Custom Rules
        run: |
          echo "Rodando Semgrep usando regras personalizadas..."
          semgrep --config=semgrep-rules --json --output=semgrep-report.json --error

      - name: Upload Semgrep report
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-report
          path: semgrep-report.json